body{
    background-color: rgb(63, 59, 59);
}
.wrap{
    width: 60%;
    margin: 0 auto;
}

.card{
    color: black;
}
.wrapper{
    text-align: center;
}

.wrapper input{
    margin-top: 20px;
    border-radius: 10px;

}
